{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/"
  },
  "resources":[
    {
      "path":"res/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "buildDirs":[],
  "compile":[
    {
      "path":"foundation.js",
      "sourceType":"mod"
    },
    {
      "path":"expansion.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ]
}